html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.linker {
  color: aliceblue;
}
.mb-3 {
  margin-bottom: 5rem !important;
}
.mb-3 {
  border-radius: 5px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.search-box {
  margin-top: 5%;
  margin-bottom: 5rem !important;
}
.question13:nth-of-type(even) {
  color: #ffffff !important;
  background-color: #1768ac;
  border-color: #1768ac;
}
.question13:nth-of-type(odd) {
  color: #000000 !important;
  background-color: #e5d549;
  border-color: #e5d549 !important;
}

.fade.alert.show {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;
}

.card-body {
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  /* width: 80%; */
  padding: 2rem 1rem !important;
  margin: 5%;
}
.card {
  flex-direction: row !important;
  background-color: #e0e0e0 !important;
}
.correct {
  width: 100px;
  height: 100px;
  margin: auto;
  /* margin-top: 100px; */
  position: relative;
  right: 1%;
}
.wrong {
  width: 100px;
  height: 100px;
  background-color: brown !important;
  border-color: brown !important;
  margin-top: 100px;
  position: relative;
  margin: auto;
  padding: 5%;
  /* right: 4%;
  margin-left: 30px;
  bottom: 9%; */
}
.googlebutton {
  display: none !important;
}
.buttontwo {
  margin: auto 10px !important;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.username {
  text-align: end;
  height: 50px;
  background-color: #e5d549;
}
.username2 {
  margin: auto 10px;
}
.Question-one {
  color: #000000;
  background-color: #e5d549;
  text-transform: capitalize;
  word-wrap: break-word;
  padding: 3%;
  border-color: #e5d549;
  font-size: 2rem;
}
.navbar-nav span {
  display: none !important;
}

.logomain {
  margin: auto !important;
}
@media only screen and (min-width: 600px) {
  .buttontwo {
    display: flex;
  }
}
@media only screen and (max-width: 600px) {
  .buttontwo {
    display: flex;
  }
  .cardmobile {
    text-align: justify;
    display: block !important;
  }
}
